<div class="container-fluid">
	<div class="row justify-content-center align-items-center" style="height: 90px">
		<div class="d-lg-none col-6 order-4">
			<div class="dropdown">
				<button type="button" class="btn btn-headerprimary dropdown-toggle" data-toggle="dropdown">Menu</button>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="/volunteer">Volunteer Opportunities</a>
					<a class="dropdown-item" href="/about">About Us</a>
					<a class="dropdown-item" href="/homelessrights">Homeless Rights</a>
				</div>
			</div>
		</div>
		<div class="col-6 col-lg-2 order-3">
			<a href="/">
				<img src="https://vectr.com/ajharker/a1kj2IcWwB.svg?select=a1kj2IcWwBpage0" alt="Unsheltered Logo">
			</a>
		</div>
		<div class="d-none d-lg-block col-lg-2 order-5">
			<a href="/account" class="btn btn-headerprimary">
				<h5>Account</h5>
			</a>
		</div>
		<div class="d-none d-lg-block col-lg-3 order-1">
			<a href="/volunteer" class="btn btn-headerprimary">
				<h5>Volunteer</h5>
			</a>
		</div>
		<div class="d-none d-lg-block col-lg-2 order-2">
			<a href="/about" class="btn btn-headerprimary">
				<h5>About Us</h5>
			</a>
		</div>
		<div class="d-none d-lg-block col-lg-3 order-4">
			<a href="/homelessrights" class="btn btn-headerprimary">
				<h5>Homeless Rights</h5>
			</a>
		</div>
	</div>
</div>