
$color1: #5F0F40; // Tyrian Purple
$color2: #9A031E; // Crimson
$color3: #FB8B24; // UT orange
$color4: #0F4C5C; // Deep Sea green
$color5: #E36414; // Spanish Orange


$background-color: #d6e6ee;
$header-color: #778fcf;
$header-font-color: #a4c9e7; //shelterListEntry background