
$color1: #5F0F40; // Tyrian Purple
$color2: #9A031E; // Crimson
$color3: #FB8B24; // UT orange
$color4: #0F4C5C; // Deep Sea green
$color5: #E36414; // Spanish Orange


$background-color: #141034;//#d6e6ee;
$header-color: #5F0F40;//#778fcf;
$header-contrast-color: #a4c9e7; //shelterListEntry background
$hover-color: #066CE2;
$text-color: #fff;
$link-hover-color: #ddd;
$dropdown-content-background: #f1f1f1;
