---
layout: default
---
<div class="row justify-content-center">
    <div class="col-12 col-md-11 col-lg-10">
        <article>
            <h1>{{page.title}}</h1>
            <!-- <img id="fistImg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Fist.svg/2000px-Fist.svg.png" alt="fist image"> -->
        <!-- </div> -->
    <!-- 
        <div class="col-12 justify-content-center">
            <h2 id="ventoTitle">
                <strong>Something goes here</strong>
            </h2>
            <br>
        </div> -->
        <!-- <div class="col-12 col-md-11 col-lg-10"> -->
            <p>
                {{content}}
            </p>
        </article>
    </div>
</div>